<p-panel header="Pipes numéricos" class="p-1">

  <p>Pipes incluidos usualmente en el common module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Ventas netas">
      {{totalSells +500| number:'1.2-2'}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ventas brutas">
      {{totalSells| currency:'ARS': 'symbol-narrow':'1.4-4'}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Ganancia porcentual">
      {{percent|percent:'1.2-2'}}
    </p-card>
  </div>

</div>